[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
shell = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask-cors = "*"
flask-bcrypt = "*"
python-dotenv = "*"
flask-jwt-extended = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"

[requires]
python_version = "3.8"
